<h1>Create a new restaurant</h1>

<div class="row">
  <div class="col-md-6">
  <%= render 'form', restaurant: @restaurant %>
  </div>
  <div class="col-md-6"></div>
</div>

<%= link_to 'Back', restaurants_path %>
